@model CRVS.Core.Models.ViewModels.BirthCertificateViewModel
@{
    ViewData["Title"] = "Create";
}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"
          content="wrappixel, admin dashboard, html css dashboard, web dashboard, bootstrap 5 admin, bootstrap 5, css3 dashboard, bootstrap 5 dashboard, admin pro admin bootstrap 5 dashboard, frontend, responsive bootstrap 5 admin template, material design, material dashboard bootstrap 5 dashboard template">
    <meta name="description"
          content="Admin Pro is powerful and clean admin dashboard template">
    <meta name="robots" content="noindex,nofollow">
    <title>Admin Pro Template by WrapPixel</title>
    <link rel="canonical" href="https://www.wrappixel.com/templates/adminpro/" />
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/images/favicon.png">
    <!-- This page CSS -->
    <link href="~/libs/jquery-steps/jquery.steps.css" rel="stylesheet">
    <link href="~/libs/jquery-steps/steps.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/css/style.min.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!-- -------------------------------------------------------------- -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- -------------------------------------------------------------- -->
    <div class="preloader">
        <svg class="tea lds-ripple" width="37" height="48" viewbox="0 0 37 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M27.0819 17H3.02508C1.91076 17 1.01376 17.9059 1.0485 19.0197C1.15761 22.5177 1.49703 29.7374 2.5 34C4.07125 40.6778 7.18553 44.8868 8.44856 46.3845C8.79051 46.79 9.29799 47 9.82843 47H20.0218C20.639 47 21.2193 46.7159 21.5659 46.2052C22.6765 44.5687 25.2312 40.4282 27.5 34C28.9757 29.8188 29.084 22.4043 29.0441 18.9156C29.0319 17.8436 28.1539 17 27.0819 17Z" stroke="#2962FF" stroke-width="2"></path>
            <path d="M29 23.5C29 23.5 34.5 20.5 35.5 25.4999C36.0986 28.4926 34.2033 31.5383 32 32.8713C29.4555 34.4108 28 34 28 34" stroke="#2962FF" stroke-width="2"></path>
            <path id="teabag" fill="#2962FF" fill-rule="evenodd" clip-rule="evenodd" d="M16 25V17H14V25H12C10.3431 25 9 26.3431 9 28V34C9 35.6569 10.3431 37 12 37H18C19.6569 37 21 35.6569 21 34V28C21 26.3431 19.6569 25 18 25H16ZM11 28C11 27.4477 11.4477 27 12 27H18C18.5523 27 19 27.4477 19 28V34C19 34.5523 18.5523 35 18 35H12C11.4477 35 11 34.5523 11 34V28Z"></path>
            <path id="steamL" d="M17 1C17 1 17 4.5 14 6.5C11 8.5 11 12 11 12" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="#2962FF"></path>
            <path id="steamR" d="M21 6C21 6 21 8.22727 19 9.5C17 10.7727 17 13 17 13" stroke="#2962FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
    </div>
    <!-- -------------------------------------------------------------- -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- -------------------------------------------------------------- -->
    <div id="main-wrapper">



        <!-- Start Page Content -->
        <!-- -------------------------------------------------------------- -->
        <div class="row">
            <!-- -------------------------------------------------------------- -->
            <!-- Example -->
            <!-- -------------------------------------------------------------- -->
            <!-- -------------------------------------------------------------- -->
            <!-- Example -->
            <!-- -------------------------------------------------------------- -->
            <div class="col-12">
                <div class="card">
                    <div class="border-bottom title-part-padding">
                        <h4 class="card-title mb-0">شهادة الولادة العراقية</h4>
                    </div>

                    <div class="card-body wizard-content">
                        <h6 class="card-subtitle mb-3"></h6>
                        <form action="Create" method="post" enctype="multipart/form-data" class="tab-wizard wizard-circle">
                            <!-- Step 1 -->
                            <h6>معلومات الوليد</h6>

                            <section>
                                <div class="row">
                                    <div class="col-lg-3 col-md-6">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="d-flex no-block">
                                                    <div class="me-3 align-self-center">
                                                        <span class="lstick d-inline-block align-middle"></span><img src="~/images/icon/income.png" alt="Income" />
                                                    </div>
                                                    <div class="align-self-center">
                                                        <h6 class="text-muted mt-2 mb-0">عدد الولادات الكلية</h6>
                                                        <h2></h2>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="d-flex no-block">
                                                    <div class="me-3 align-self-center">
                                                        <span class="lstick d-inline-block align-middle"></span><img src="~/images/icon/expense.png" alt="Income" />
                                                    </div>
                                                    <div class="align-self-center">
                                                        <h6 class="text-muted mt-2 mb-0">عدد الشهادات المنجزة</h6>
                                                        <h2></h2>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="d-flex no-block">
                                                    <div class="me-3 align-self-center">
                                                        <span class="lstick d-inline-block align-middle"></span><img src="~/images/icon/assets.png" alt="Income" />
                                                    </div>
                                                    <div class="align-self-center">
                                                        <h6 class="text-muted mt-2 mb-0">عدد الشهادات المعلقة</h6>
                                                        <h2></h2>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="d-flex no-block">
                                                    <div class="me-3 align-self-center">
                                                        <span class="lstick d-inline-block align-middle"></span><img src="~/images/icon/staff.png" alt="Income" />
                                                    </div>
                                                    <div class="align-self-center">
                                                        <h6 class="text-muted mt-2 mb-0">سبب الغير منجز</h6>
                                                        <h2></h2>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="mb-3">
                                            <label asp-for="CertificateNo" class="control-label"></label>
                                            <input asp-for="CertificateNo" class="form-control" />

                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="mb-3">

                                                <label asp-for="ChildName" class="control-label"></label>
                                                <input asp-for="ChildName" class="form-control" />

                                            </div>
                                        </div>


                                        <div class="col-md-2">
                                            <div class="mb-3">

                                                <label asp-for="Gender" class="control-label"></label>

                                                <select asp-for="Gender" class="form-control"
                                                        asp-items="Html.GetEnumSelectList<CRVS.Core.Models.SharedCode.CommonProp.Genders>()">
                                                    <option value="">--- Select  ---</option>
                                                </select>


                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="mb-3">

                                                <label asp-for="Governorate" class="control-label"></label>
                                                <input asp-for="Governorate" class="form-control" />


                                            </div>
                                        </div>


                                        <div class="col-md-2">
                                            <div class="mb-3">

                                                <label asp-for="DOH" class="control-label"></label>
                                                <input asp-for="DOH" class="form-control" />

                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="mb-3">

                                                <label asp-for="District" class="control-label"></label>
                                                <input asp-for="District" class="form-control" />

                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="mb-3">

                                                <label asp-for="Nahia" class="control-label"></label>
                                                <input asp-for="Nahia" class="form-control" />

                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="mb-3">

                                                <label asp-for="Village" class="control-label"></label>
                                                <input asp-for="Village" class="form-control" />

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="mb-3">

                                                <label asp-for="BirthType" class="control-label"></label>
                                                <select asp-for="BirthType" class="form-control"
                                                        asp-items="Html.GetEnumSelectList<CRVS.Core.Models.SharedCode.CommonProp.BirthTypes>()">
                                                    <option value="">--- Select  ---</option>
                                                </select>

                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="mb-3">

                                                <label asp-for="NumberOfBirth" class="control-label"></label>
                                                <select asp-for="NumberOfBirth" class="form-control"
                                                        asp-items="Html.GetEnumSelectList<CRVS.Core.Models.SharedCode.CommonProp.NumberOfBirths>()">
                                                    <option value="">--- Select  ---</option>
                                                </select>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <h3> تاريخ الولادة رقما وكتابة</h3>
                                        <div class="col-md-2">

                                            <div class="mb-3">

                                                <label asp-for="BHour" class="control-label"></label>
                                                <input asp-for="BHour" class="form-control" />

                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="mb-3">

                                                <label asp-for="BOD" class="control-label"></label>
                                                <input asp-for="BOD" class="form-control" />

                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="mb-3">

                                                <label asp-for="BODText" class="control-label"></label>
                                                <input asp-for="BODText" class="form-control" />

                                            </div>
                                        </div>
                                    </div>

                            </section>

                            <!-- Step 2 -->
                            <h6>معلومات الاب والام</h6>
                            <section>
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="mb-3">
                                            <label asp-for="FatherFName" class="control-label"></label>
                                            <input asp-for="FatherFName" id="mname" class="form-control" />

                                        </div>

                                    </div>
                                    <div class="col-md-2">
                                        <div class="mb-3">

                                            <label asp-for="FatherMName" class="control-label"></label>
                                            <input asp-for="FatherMName" id="mname" class="form-control" />

                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="mb-3">
                                            <label asp-for="FatherLName" class="control-label"></label>
                                            <input asp-for="FatherLName" id="mname" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="mb-3">
                                            <label asp-for="FatherBOD" class="control-label"></label>
                                            <input asp-for="FatherBOD" id="mname" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="mb-3">
                                            <label asp-for="FatherJob" class="control-label"></label>
                                            <input asp-for="FatherJob" id="mname" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="mb-3">
                                            <label asp-for="FatherNationality" class="control-label"></label>
                                            <input asp-for="FatherNationality" id="mname" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="mb-3">
                                            <label asp-for="FatherReligion" class="control-label"></label>
                                            <input asp-for="FatherReligion" id="mname" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="mb-3">
                                            <label asp-for="FatherMobile" class="control-label"></label>
                                            <input asp-for="FatherMobile" id="mname" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="mb-3">
                                            <label asp-for="MotherFName" class="control-label"></label>
                                            <input asp-for="MotherFName" id="mname" class="form-control" />

                                        </div>

                                    </div>
                                    <div class="col-md-2">
                                        <div class="mb-3">

                                            <label asp-for="MotherMName" class="control-label"></label>
                                            <input asp-for="MotherMName" id="mname" class="form-control" />

                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="mb-3">
                                            <label asp-for="MotherLName" class="control-label"></label>
                                            <input asp-for="MotherLName" id="mname" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="mb-3">
                                            <label asp-for="MotherBOD" class="control-label"></label>
                                            <input asp-for="MotherBOD" id="mname" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="mb-3">
                                            <label asp-for="MotherJob" class="control-label"></label>
                                            <input asp-for="MotherJob" id="mname" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="mb-3">
                                            <label asp-for="MotherNationality" class="control-label"></label>
                                            <input asp-for="MotherNationality" id="mname" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="mb-3">
                                            <label asp-for="MotherReligion" class="control-label"></label>
                                            <input asp-for="MotherReligion" id="mname" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="mb-3">
                                            <label asp-for="MotherMobile" class="control-label"></label>
                                            <input asp-for="MotherMobile" id="mname" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="mb-1">
                                        <label asp-for="Relative" class="control-label"></label>
                                        @Html.CheckBox("Relative",false)

                                    </div>


                                </div>



                            </section>
                            <!-- Step 3 -->
                            <h6>عدد المواليد السابقة للام عدا هذا الطفل </h6>
                            <section>
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="mb-3">
                                            <label asp-for="Alive" class="control-label"></label>
                                            <input asp-for="Alive" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="mb-3">
                                            <label asp-for="BornAliveThenDied" class="control-label"></label>
                                            <input asp-for="BornAliveThenDied" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="mb-3">
                                            <label asp-for="StillBirth" class="control-label"></label>
                                            <input asp-for="StillBirth" class="form-control" />
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="mb-3">
                                            <label asp-for="BornDisable" class="control-label"></label>
                                            <input asp-for="BornDisable" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="mb-3">
                                            <label asp-for="NoAbortion" class="control-label"></label>
                                            <input asp-for="NoAbortion" class="form-control" />
                                        </div>
                                    </div>

                                    <div class="mb-3">
                                        <label asp-for="IsDisabled" class="control-label"></label>
                                        @Html.CheckBox("IsDisabled",false)

                                    </div>

                                    <div class="mb-3">
                                        <label asp-for="IsDisabledType" class="control-label"></label>
                                        <input asp-for="IsDisabledType" class="form-control" />

                                    </div>
                                </div>
                            </section>
                            <!-- Step 4 -->
                            <h6>معلومات الوليد والعائلة </h6>
                            <section>
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="mb-3">
                                            <label asp-for="DurationOfPregnancy" class="control-label"></label>
                                            <input asp-for="DurationOfPregnancy" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="mb-3">
                                            <label asp-for="BabyWeight" class="control-label"></label>
                                            <input asp-for="BabyWeight" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="mb-3">
                                            <label asp-for="PlaceOfBirth" class="control-label"></label>
                                            <select asp-for="PlaceOfBirth" class="form-control"
                                                    asp-items="Html.GetEnumSelectList<CRVS.Core.Models.SharedCode.CommonProp.PlaceOfBirths>()">
                                                <option value="">--- Select  ---</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="mb-3">
                                            <label asp-for="BirthOccurredBy" class="control-label"></label>
                                            <select asp-for="BirthOccurredBy" class="form-control"
                                                    asp-items="Html.GetEnumSelectList<CRVS.Core.Models.SharedCode.CommonProp.BirthOccurredBys>()">
                                                <option value="">--- Select  ---</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="mb-3">
                                            <label asp-for="LicenseNo" class="control-label"></label>
                                            <input asp-for="LicenseNo" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="mb-3">
                                            <label asp-for="LicenseYear" class="control-label"></label>
                                            <input asp-for="LicenseYear" class="form-control" />
                                        </div>
                                    </div>
                                </div>

                                <h4>العنوان الدائم لعائلة المولود</h4>
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="mb-3">
                                            <label asp-for="FamilyGovernorate" class="control-label"></label>
                                            <input asp-for="FamilyGovernorate" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="mb-3">
                                            <label asp-for="FamilyDistrict" class="control-label"></label>
                                            <input asp-for="FamilyDistrict" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="mb-3">
                                            <label asp-for="FamilyNahiah" class="control-label"></label>
                                            <input asp-for="FamilyNahiah" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="mb-3">
                                            <label asp-for="FamilyMahala" class="control-label"></label>
                                            <input asp-for="FamilyMahala" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="mb-3">
                                            <label asp-for="FamilyZigag" class="control-label"></label>
                                            <input asp-for="FamilyZigag" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="mb-3">
                                            <label asp-for="FamilyHomeNo" class="control-label"></label>
                                            <input asp-for="FamilyHomeNo" class="form-control" />
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="mb-3">
                                            <label asp-for="FamilyDOH" class="control-label"></label>
                                            <input asp-for="FamilyDOH" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="mb-3">
                                            <label asp-for="FamilySector" class="control-label"></label>
                                            <input asp-for="FamilySector" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="mb-3">
                                            <label asp-for="FamilyPHC" class="control-label"></label>
                                            <input asp-for="FamilyPHC" class="form-control" />
                                        </div>
                                    </div>


                                </div>
                                <h4>معلومات خاصة بمديرية الجنسية والاحوال المدنية</h4>
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="mb-3">
                                            <label asp-for="DocumentType" class="control-label"></label>
                                            <select asp-for="DocumentType" class="form-control"
                                                    asp-items="Html.GetEnumSelectList<CRVS.Core.Models.SharedCode.CommonProp.DocumentTypes>()">
                                                <option value="">--- Select  ---</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="mb-3">
                                            <label asp-for="RecordNumber" class="control-label"></label>
                                            <input asp-for="RecordNumber" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="mb-3">
                                            <label asp-for="PageNumber" class="control-label"></label>
                                            <input asp-for="PageNumber" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="mb-3">
                                            <label asp-for="CivilStatusDirectorate" class="control-label"></label>
                                            <input asp-for="CivilStatusDirectorate" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="mb-3">
                                            <label asp-for="GovernorateCivilStatusDirectorate" class="control-label"></label>
                                            <input asp-for="GovernorateCivilStatusDirectorate" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="mb-3">
                                            <label asp-for="NationalIdFor" class="control-label"></label>
                                            <select asp-for="NationalIdFor" class="form-control"
                                                    asp-items="Html.GetEnumSelectList<CRVS.Core.Models.SharedCode.CommonProp.NationalIdFors>()">
                                                <option value="">--- Select  ---</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="mb-3">
                                            <label asp-for="NationalID" class="control-label"></label>
                                            <input asp-for="NationalID" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="mb-3">
                                            <label asp-for="PassportNo" class="control-label"></label>
                                            <input asp-for="PassportNo" class="form-control" />
                                        </div>
                                    </div>
                                </div>

                            </section>
                            <!-- Step 4 -->
                            <h6>معلومات اخرى</h6>
                            <section>
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="mb-3">
                                            <label asp-for="InformerName" class="control-label"></label>
                                            <input asp-for="InformerName" class="form-control" />
                                        </div>

                                    </div>
                                    <div class="col-md-2">
                                        <div class="mb-3">
                                            <label asp-for="InformerJobTitle" class="control-label"></label>
                                            <input asp-for="InformerJobTitle" class="form-control" />
                                        </div>

                                    </div>
                                    <div class="col-md-2">
                                        <div class="mb-3">
                                            <label asp-for="KinshipOfTheNewborn" class="control-label"></label>
                                            <input asp-for="KinshipOfTheNewborn" class="form-control" />
                                        </div>

                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="mb-3">
                                            <label asp-for="BirthPerformerName" class="control-label"></label>
                                            <input asp-for="BirthPerformerName" class="form-control" />
                                        </div>

                                    </div>
                                    <div class="col-md-2">
                                        <div class="mb-3">
                                            <label asp-for="BirthPerformerWorkingAddress" class="control-label"></label>
                                            <input asp-for="BirthPerformerWorkingAddress" class="form-control" />
                                        </div>

                                    </div>


                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <label asp-for="HospitalManagerName" class="control-label"></label>
                                            <input asp-for="HospitalManagerName" class="form-control" />
                                        </div>

                                    </div>
                                    <div class="col-md-2">
                                        <div class="mb-3">
                                            <label asp-for="RationCard" class="control-label"></label>
                                            <input asp-for="RationCard" class="form-control" />
                                        </div>
                                       <input type="submit" value="Create" class="btn btn-info" />
                                    </div>



                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="mb-3">
                                            <label asp-for="ImgBirthCertificate" class="control-label"></label>
                                            <input asp-for="ImgBirthCertificate" class="form-control" />
                                        </div>

                                    </div>
                                    <div class="col-md-2">
                                        <div class="mb-3">
                                            <label asp-for="ImgMarriageCertificate" class="control-label"></label>
                                            <input asp-for="ImgMarriageCertificate" class="form-control" />
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="mb-3">
                                            <label asp-for="ImgFatherUnifiedNationalIdFront" class="control-label"></label>
                                            <input asp-for="ImgFatherUnifiedNationalIdFront" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="mb-3">
                                            <label asp-for="ImgFatherUnifiedNationalIdBack" class="control-label"></label>
                                            <input asp-for="ImgFatherUnifiedNationalIdBack" class="form-control" />
                                        </div>

                                    </div>
                                    <div class="col-md-2">
                                        <div class="mb-3">
                                            <label asp-for="ImgMotherUnifiedNationalIdFront" class="control-label"></label>
                                            <input asp-for="ImgMotherUnifiedNationalIdFront" class="form-control" />
                                        </div>

                                    </div>
                                    <div class="col-md-2">
                                        <div class="mb-3">
                                            <label asp-for="ImgMotherUnifiedNationalIdBack" class="control-label"></label>
                                            <input asp-for="ImgMotherUnifiedNationalIdBack" class="form-control" />
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="mb-3">
                                            <label asp-for="ImgResidencyCardFront" class="control-label"></label>
                                            <input asp-for="ImgResidencyCardFront" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="mb-3">
                                            <label asp-for="ImgResidencyCardBack" class="control-label"></label>
                                            <input asp-for="ImgResidencyCardBack" class="form-control" />
                                        </div>

                                    </div>

                                </div>
                            </section>
                        </form>
                    </div>
                </div>
            </div>
            <!-- -------------------------------------------------------------- -->

        </div>
        <!-- -------------------------------------------------------------- -->
        <!-- End PAge Content -->
        <!-- -------------------------------------------------------------- -->
    </div>
    <!-- -------------------------------------------------------------- -->
    <!-- End Container fluid  -->
    <!-- -------------------------------------------------------------- -->
    <!-- -------------------------------------------------------------- -->
    <!-- -------------------------------------------------------------- -->
    </div>
    <!-- -------------------------------------------------------------- -->
    <!-- End Page wrapper  -->
    <!-- -------------------------------------------------------------- -->
    </div>
    <!-- -------------------------------------------------------------- -->
    <!-- End Wrapper -->
    <!-- -------------------------------------------------------------- -->
    <!-- -------------------------------------------------------------- -->
    <!-- customizer Panel -->
    <!-- -------------------------------------------------------------- -->
    <aside class="customizer">
        <a href="javascript:void(0)" class="service-panel-toggle"><i data-feather="settings" class="feather-sm"></i></a>
        <div class="customizer-body">
            <ul class="nav customizer-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" href="#pills-home" role="tab"
                       aria-controls="pills-home" aria-selected="true"><i class="ri-tools-fill fs-6"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" href="#chat" role="tab"
                       aria-controls="chat" aria-selected="false"><i class="ri-message-3-line fs-6"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" href="#pills-contact" role="tab"
                       aria-controls="pills-contact" aria-selected="false">
                        <i class="ri-timer-line fs-6"></i>
                    </a>
                </li>
            </ul>

    </aside>
    <div class="chat-windows"></div>
    <!-- -------------------------------------------------------------- -->
    <!-- All Jquery -->
    <!-- -------------------------------------------------------------- -->
    <script src="~/libs/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="~/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- apps -->
    <script src="~/js/app.min.js"></script>
    <script src="~/js/app.init.js"></script>
    <script src="~/js/app-style-switcher.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="~/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="~/extra-libs/sparkline/sparkline.js"></script>
    <!--Wave Effects -->
    <script src="~/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="~/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="~/js/feather.min.js"></script>
    <!--Custom JavaScript -->
    <script src="~/js/custom.min.js"></script>
    <script src="~/libs/jquery-steps/build/jquery.steps.min.js"></script>
    <script src="~/libs/jquery-validation/dist/jquery.validate.min.js"></script>
    <script>
        //Basic Example
        $("#example-basic").steps({
            headerTag: "h3",
            bodyTag: "section",
            transitionEffect: "slideLeft",
            autoFocus: true
        });

        // Basic Example with form
        var form = $("#example-form");
        form.validate({
            errorPlacement: function errorPlacement(error, element) { element.before(error); },
            rules: {
                confirm: {
                    equalTo: "#password"
                }
            }
        });
        form.children("div").steps({
            headerTag: "h3",
            bodyTag: "section",
            transitionEffect: "slideLeft",
            onStepChanging: function (event, currentIndex, newIndex) {
                form.validate().settings.ignore = ":disabled,:hidden";
                return form.valid();
            },
            onFinishing: function (event, currentIndex) {
                form.validate().settings.ignore = ":disabled";
                return form.valid();
            },
            onFinished: function (event, currentIndex) {
                alert("Submitted!");
            }
        });

        // Advance Example

        var form = $("#example-advanced-form").show();

        form.steps({
            headerTag: "h3",
            bodyTag: "fieldset",
            transitionEffect: "slideLeft",
            onStepChanging: function (event, currentIndex, newIndex) {
                // Allways allow previous action even if the current form is not valid!
                if (currentIndex > newIndex) {
                    return true;
                }
                // Forbid next action on "Warning" step if the user is to young
                if (newIndex === 3 && Number($("#age-2").val()) < 18) {
                    return false;
                }
                // Needed in some cases if the user went back (clean up)
                if (currentIndex < newIndex) {
                    // To remove error styles
                    form.find(".body:eq(" + newIndex + ") label.error").remove();
                    form.find(".body:eq(" + newIndex + ") .error").removeClass("error");
                }
                form.validate().settings.ignore = ":disabled,:hidden";
                return form.valid();
            },
            onStepChanged: function (event, currentIndex, priorIndex) {
                // Used to skip the "Warning" step if the user is old enough.
                if (currentIndex === 2 && Number($("#age-2").val()) >= 18) {
                    form.steps("next");
                }
                // Used to skip the "Warning" step if the user is old enough and wants to the previous step.
                if (currentIndex === 2 && priorIndex === 3) {
                    form.steps("previous");
                }
            },
            onFinishing: function (event, currentIndex) {
                form.validate().settings.ignore = ":disabled";
                return form.valid();
            },
            onFinished: function (event, currentIndex) {
                alert("Submitted!");
            }
        }).validate({
            errorPlacement: function errorPlacement(error, element) { element.before(error); },
            rules: {
                confirm: {
                    equalTo: "#password-2"
                }
            }
        });

        // Dynamic Manipulation
        $("#example-manipulation").steps({
            headerTag: "h3",
            bodyTag: "section",
            enableAllSteps: true,
            enablePagination: false
        });

        //Vertical Steps

        $("#example-vertical").steps({
            headerTag: "h3",
            bodyTag: "section",
            transitionEffect: "slideLeft",
            stepsOrientation: "vertical"
        });

        //Custom design form example
        $(".tab-wizard").steps({
            headerTag: "h6",
            bodyTag: "section",
            transitionEffect: "fade",
            titleTemplate: '<span class="step">#index#</span> #title#',
            labels: {
                finish: "Submit"
            },
            onFinished: function (event, currentIndex) {
                swal("Form Submitted!", "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lorem erat eleifend ex semper, lobortis purus sed.");

            }
        });


        var form = $(".validation-wizard").show();

        $(".validation-wizard").steps({
            headerTag: "h6",
            bodyTag: "section",
            transitionEffect: "fade",
            titleTemplate: '<span class="step">#index#</span> #title#',
            labels: {
                finish: "Submit"
            },
            onStepChanging: function (event, currentIndex, newIndex) {
                return currentIndex > newIndex || !(3 === newIndex && Number($("#age-2").val()) < 18) && (currentIndex < newIndex && (form.find(".body:eq(" + newIndex + ") label.error").remove(), form.find(".body:eq(" + newIndex + ") .error").removeClass("error")), form.validate().settings.ignore = ":disabled,:hidden", form.valid())
            },
            onFinishing: function (event, currentIndex) {
                return form.validate().settings.ignore = ":disabled", form.valid()
            },
            onFinished: function (event, currentIndex) {
                swal("Form Submitted!", "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lorem erat eleifend ex semper, lobortis purus sed.");
            }
        }), $(".validation-wizard").validate({
            ignore: "input[type=hidden]",
            errorClass: "text-danger",
            successClass: "text-success",
            highlight: function (element, errorClass) {
                $(element).removeClass(errorClass)
            },
            unhighlight: function (element, errorClass) {
                $(element).removeClass(errorClass)
            },
            errorPlacement: function (error, element) {
                error.insertAfter(element)
            },
            rules: {
                email: {
                    email: !0
                }
            }
        })
    </script>
</body>
