@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex no-block">
                    <div class="me-3 align-self-center">
                        <span class="lstick d-inline-block align-middle"></span><img src="~/images/icon/chart1.png" width="50" height="50"  alt="Income" />
                    </div>
                    <div class="align-self-center">
                        <h6 class="text-muted mt-2 mb-0">عدد الولادات الكلية</h6>
                        <h2></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex no-block">
                    <div class="me-3 align-self-center">
                        <span class="lstick d-inline-block align-middle"></span><img src="~/images/icon/complete.png" width="50" height="50" alt="Income" />
                    </div>
                    <div class="align-self-center">
                        <h6 class="text-muted mt-2 mb-0">عدد الشهادات المنجزة</h6>
                        <h2></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex no-block">
                    <div class="me-3 align-self-center">
                        <span class="lstick d-inline-block align-middle"></span><img src="~/images/icon/notcomplete.png" width="50" height="50" alt="Income" />
                    </div>
                    <div class="align-self-center">
                        <h6 class="text-muted mt-2 mb-0">عدد الشهادات المعلقة</h6>
                        <h2></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex no-block">
                    <div class="me-3 align-self-center">
                        <span class="lstick d-inline-block align-middle"></span><img src="~/images/icon/reject1.png " width="50" height="50" alt="Income" />
                    </div>
                    <div class="align-self-center">
                        <h6 class="text-muted mt-2 mb-0">سبب الغير منجز</h6>
                        <h2></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>